<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/styles/main.css"> 

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Lora:400,400i,700,700i" rel="stylesheet">    
   

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <!--Nav-->
  <nav>
    <ul class="nav-menu">
      <a href=""><li style = "scroll-behavior: smooth;">Home</li></a>
      <a href="#about"><li style = "scroll-behavior: smooth;">About Me</li></a>
      <a href="#projs"><li>Projects</li></a>
      <a href="#lang"><li>Languages</li></a>
      <a href="#experience"><li>Experience</li></a>
      <!-- Contact commented out for now 
      <a href="#contact"><li>Contact</li></a>
      -->
      <a href="{{ url_for('timeline') }}"><li>Timeline</li></a>
    </ul>
  </nav>

  <body class="max-width">
    <!--Home Section-->
    <div class="home">
      <div class="left">
        <h1 style = "font-family: Lora;"><u>Abisha Kugathasan</u></h1>
        <p>
          <span class="tag">Developer</span> | <span class="tag">Student</span> |
          <span class="tag">Space Lover</span>
        </p>
      </div>
      <div class="right">
          <img id="icon" alt = "image of current weather conditions" style="width: 1000px;"/><br>
          <div class ="weather"> 
            <span id="description"></span> <span id="temp"></span>
        </div>
      </div>
    </div>

    <!--Weather API - Java Script-->
    <script lang="text/javascript">
      function weatherBalloon( cityID ) {
       var key = '34b67f797d779862525d5ae81a1dd637';
        fetch('https://api.openweathermap.org/data/2.5/weather?id=' + cityID+ '&appid=' + key)  
        .then(function(resp) { return resp.json() }) // Convert data to json
        .then(function(data) {
          drawWeather(data); // Call drawWeather
    })
  .catch(function() {
    // catch any errors
  });
}

function drawWeather( d ) {
	var celcius = Math.round(parseFloat(d.main.temp)-273.15);
	var fahrenheit = Math.round(((parseFloat(d.main.temp)-273.15)*1.8)+32);

  var img = document.getElementById('icon'); 
  img.src = `./static/img/${d.weather[0].icon +".jpg" || "../../assets/weatherIcons/01n.jpg"}`;
  console.log(img);
  console.log(d.weather[0]);
	document.getElementById('description').innerHTML = d.weather[0].description;
	document.getElementById('temp').innerHTML = celcius + '&deg;';
	document.getElementById('location').innerHTML = d.name;

  
	if( description.indexOf('rain') > 0 ) {
  	document.body.className = 'rainy';
  } else if( description.indexOf('cloud') > 0 ) {
  	document.body.className = 'cloudy';
  } else if( description.indexOf('sunny') > 0 ) {
  	document.body.className = 'sunny';
  }
}

window.onload = function() {
  weatherBalloon( 6066513 );
}
    </script>

      <!--About Me Section-->
    <div id="about" class="about-section">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;"><u>A Little More about Me.</u></h1>
      <!--
      <h2 id="title"></h2>
      <p id="date"></p><-->
        <main class="container"> 
          
        
        
        <section class="picture-explanation-container">
          <img src="" id="picture" alt="astronomy image by NASA" />
          <p id="explanation" style = "text-align: justify;">Hi, my name is Abisha Kuagathasan. I am a Canadian🍁University Student who is studying Computer Engineering at the University of Toronto.
            The reason why I chose Engineering in the beginning is because it gives me the opportunity to create <i>something</i> that may not be in the world yet. My passion stemmed from my 1st computer class my mom took me to 
            when I was young and what drove me was my curiosity of how everything worked. <br><br>

            Outside of work, I design robots in the Robotics Association Club, a photographer for my University and take part in Tokie Okie, which is our school's paper. In addition, I am in WISE (Women in Science and Engineering) to encourage young women to take part in this field. Lastly, I have an interest in 
            Astronomy so, instead of a picture of myself I decided to put a picture of NASA's POTD - which today's is the <span id = "title"></span>. 🔭 <br><br> 
      
            If you're interested in connecting or chatting. Connect with me through: 
             <br><br>📧 <u style = "color: white; text-align:end;"><a href =mailto:abku1.8219@gmail.com>Email</a></u>
            <br>💼 <u style = "color: white; text-align:end;"><a href = "https://www.linkedin.com/in/abisha-kugathasan/">LinkedIn</a></u>
            <br>👩‍💻 <u style = "color: white; text-align:end;"><a href = "https://github.com/AbishaKugathasan" >GitHub</a></u> 
        </section>
      </main>

    </div>

    <!-- Using NASA's API-->
    <script>
      function fetchNASAData()  {
       var key = 'c4B0UymmwcMAn2GxmuSIOW1bhHm3H89N8Xjp6IKi';
        fetch('https://api.nasa.gov/planetary/apod?api_key=' + key)  
        .then(function(resp) { return resp.json() }) // Convert data to json
        .then(function(data) {
          displayData(data); // Call drawWeather
    })
  .catch(function() {
    // catch any errors
  });
}


function displayData (data) {
  document.getElementById('title').textContent = data.title
  //document.getElementById('date').textContent = data.date
  document.getElementById('picture').src = data.hdurl
  //document.getElementById('explanation').textContent = data.explanation
}

fetchNASAData()

    </script> 

    <!-- Projects-->
        <div id="projs" class="proj-section">
          <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>Things I've Built.</u></h1>
          <span class="exp-cards">
            {% for proj in projects %}
            <span class="exp-card">
              <a href="{{ proj.git }}" target="_blank">
              <h3 style = "font-family: Lora; text-align: left;">{{ proj.name }}</h3>
              <p class="proj-descrip">{{ proj.descrip }}</p>
              <p class="proj-descrip" style = "font-size: 11px; color: white"><i>{{ proj.built }}</i></p>
              <p class="proj-descrip" style = "font-size: 11px; color:#878a8d">{{ proj.git }}</p>
            </a>
            </span>
            {% endfor %}
          </span>
        </div><br>

    <!--Experiences -->
    <div id="experience" class="experience">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>My Adventures.</u></h1>
      <p style = "text-align: center; font-family: Lora;"><i><a id = "resume-pdf" href = ".\static\img\software-engineer-resume-example.pdf" download = "newfilename">Click here to download my resume</a></i></p> 
      <span class="exp-cards">
        {% for exp in experiences %}
        <span class="exp-card" >
          <h3 style = "font-family: Lora; text-align: center;">{{ exp.name }}</h3>
          <p style = "color: #6b6e70;">
            {% for pt in exp.descrip %}
            <p style = "text-align: center;">{{ pt }}</p> 
            {% endfor %}
          </p>
        </span>
        {% endfor %}
      </span>
    </div>

    <!--Learning-->
        <div id="lang" class="experience">
          <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>My Journey of Learning.</u></h1>
          <h2 style = "font-family: Lora; text-align: center; color: white;">Proficient</h2>

          <!--Images of Languages that I am proficient in-->
      <div class = "images" style = "text-align: center;padding-left:20em;padding-right:20em; ">
        <figure>
          <ul class="nav-menu_1">
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/306px-ISO_C%2B%2B_Logo.svg.png" width="50" height="55" hspace="20"/>
              <figcaption>C++</figcaption></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/926px-C_Programming_Language.svg.png" width="60" height="60" hspace="20"/>
              <figcaption>C</figcaption></li>
            <li><img src="https://apprecs.org/ios/images/app-icons/256/0e/500466958.jpg" width="60" height="60" hspace="20"/>
              <figcaption>ARM</figcaption></li>
            <li><img src="https://external-preview.redd.it/wfDCC5Mc3w0belTuKquC-5Lmay-k0HtTY6s8UJiSHgs.jpg?auto=webp&s=55d73dd2c064cc850cff09534e8195750b02b14b" width="60" height="60" hspace="20"/>
              <figcaption>Verilog</figcaption></li>
            <li><img src="https://avatars.githubusercontent.com/u/18133?s=200&v=4" width="60" height="60" hspace="20"/>
              <figcaption>Git</figcaption></li>
            <li><img src="https://cdn-icons-png.flaticon.com/512/518/518713.png" width="60" height="60" hspace="20"/>
              <figcaption>Linux</figcaption></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Matlab_Logo.png/534px-Matlab_Logo.png" width="60" height="60" hspace="20"/>
              <figcaption>MATLAB</figcaption></li>
          </ul>
      </figure>
    </div>

      <!--Images of Languages that I am familar in-->
      <br><div class = "images" style = "text-align: center;padding-left:20em;padding-right:20em; ">
        <h2 style = "font-family: Lora; text-align: center; color: white;">Familiar</h2>
        <figure>
          <ul class="nav-menu_1">
            <li><img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" width="50" height="55" hspace="20"/>
              <figcaption>Python</figcaption></li>
            <li><img src="https://www.freepnglogos.com/uploads/javascript-png/javascript-vector-logo-yellow-png-transparent-javascript-vector-12.png" width="60" height="60" hspace="20"/>
              <figcaption>JavaScript</figcaption></li>
            <li><img src="https://cdn-icons-png.flaticon.com/512/5969/5969059.png" width="60" height="60" hspace="20"/>
              <figcaption>Docker</figcaption></li>
            <li><img src="https://iconape.com/wp-content/files/kh/83759/svg/nodejs-icon.svg" width="60" height="60" hspace="20"/>
              <figcaption>Nodejs</figcaption></li>
            <li><img src="https://cdn.iconscout.com/icon/free/png-256/typescript-1-1175078.png" width="60" height="60" hspace="20"/>
              <figcaption>TypeScript</figcaption></li>
            <li><img src="https://e7.pngegg.com/pngimages/697/5/png-clipart-command-line-interface-computer-icons-nuvola-shell-script-cmd-exe-shell-angle-window.png" width="60" height="60" hspace="20"/>
              <figcaption>Bash</figcaption></li>
          <li><img src="https://cdn-icons-png.flaticon.com/512/2103/2103658.png" width="60" height="60" hspace="20"/>
            <figcaption>Networks</figcaption></li>
          <li><img src="https://hackr.io/tutorials/learn-data-structures-algorithms/logo/logo-data-structures-algorithms?ver=1587721467" width="60" height="60" hspace="20"/>
            <figcaption>DS & Algorithms</figcaption></li>

      </ul>
      </figure>
      </div>


        <!--Images of Languages that I am learning-->
        <div class = "images" style = "text-align: center;padding-left:20em;padding-right:20em; ">
          <h2 style = "font-family: Lora; text-align: center; color: white;">Learning</h2>
        <div class = "images" style = "text-align: center;padding-left:20em;padding-right:20em; ">
          <figure>
            <ul class="nav-menu_1">
              <li><img src="https://logos-world.net/wp-content/uploads/2021/02/Jira-Emblem.png" width="80" height="60" hspace="20"/>
                <figcaption>Jira</figcaption></li>
              <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" width="70" height="60" hspace="20"/>
                <figcaption>React</figcaption></li>
              <li><img src="https://e7.pngegg.com/pngimages/193/980/png-clipart-computer-icons-microsoft-sql-server-mysql-sql-icon-text-rectangle.png" width="60" height="60" hspace="20"/>
                <figcaption>SQL</figcaption></li>
              <li><img src="https://cdn-icons-png.flaticon.com/512/2289/2289389.png" width="60" height="60" hspace="20"/>
                <figcaption>Systems</figcaption></li>
            </ul>
        </figure>
      </div>
    </div>

    <!--Hobbies Section-->
    <br><div id="abouts" class="about-section">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center; color: white"><u><a href="{{ url_for('hobbies') }}">My Hobbies.</a></u></h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for pol in polaroids %}
        <div class="polaroid">
          <a
            class="caption"
            href="#"
            style="font-size: 1px"
            title="{{ pol.caption }}"
          >
            <img
              height="250"
              src="{{ pol.pic }}"
              alt="Santorini"
              title="Santorini"
            />
          </a>
        </div>
        {% endfor %}
      </div>



      <div id="cont" class="cont-section">
        <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>Say <i>Hello!</i></u></h1> 
        <p style = "font-family: Lora; text-align: center;">Feel free to connect with me about any exciting projects, opportunities or even just to chat</p>
        <span class="exp-cards">
          {% for cont in contacts %}
          <span class="exp-card" >
            <h3 style = "font-family: Lora; text-align: center;">{{ cont.name }}</h3>
          </span>
          {% endfor %}
        </span>
      </div>

          <!--Contact 
    <div id="experience" class="experience">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>Say <i>Hello!</i></u></h1>
      <p style = "font-family: Lora; text-align: center;">Feel free to connect with me about any exciting projects, opportunities or even just to chat</p>
      <span class="exp-cards">
        {% for cont in contacts %}
        <a href =mailto:abku1.8219@gmail.com>
        <span class="exp-card">
          <h3 style = "font-family: Lora; text-align: center;">{{ cont.name }}</h3>
          <h3 style = "font-family: Lora; text-align: center;">{{ cont.times }}</h3>
        </span>
        </a>
        {% endfor %}
      </span>
    </div>
    Page-->

      <!-- Map section 
      <div class="map">
        <img src="../static/img/Screenshot 2022-06-04 163820.png" />
        <p>Where I've Been</p>
        -->
        
      </div>
    </div>

    <!--Contact
    <div id="contact" class="contact">
      <h1>Contact</h1>
      <form class="contact-form">
        <input type="text" id="name" placeholder="Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <textarea
          id="message"
          placeholder="Message"
          required
          rows="5"
        ></textarea>
        <button type="submit" className="contact-submit">submit</button>
      </form>
    </div>
    -->
  <!-- Form that accepts input to create timeline 
  <h1><a href="{{ url_for('timeline') }}"> My Timeline</a></h1>
    -->

</html>
