<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <!--Nav-->
  <nav>
    <ul class="nav-menu">
      <a href=""><li>Home</li></a>
      <a href="#experience"><li>Experience</li></a>
      <a href="#projs"><li>Projects</li></a>
      <a href="#about"><li>About Me</li></a>
      <a href="#contact"><li>Contact</li></a>
    </ul>
  </nav>

  <body class="max-width">
    <!--Home Section-->
    <div class="home">
      <div class="left">
        <h1 style = "font-family: Lora;">Abisha Kugathasan</h1>
        <p>
          <span class="tag">Developer</span> | <span class="tag">Student</span> |
          <span class="tag">Leader</span>
        </p>
        <ul class="links">
          <a href="https://github.com/AbishaKugathasan">
            <li><i class="fa-brands fa-linkedin"></i></li>
          </a>
          <a href="https://www.linkedin.com/in/abisha-kugathasan/"
            ><li><i class="fa-brands fa-github"></i></li
          ></a>
          <a href=""
            ><li><i class="fa-brands fa-twitter"></i></li
          ></a>
        </ul>
      </div>
      <div class="right">
        <div id="weather">
          <div id="description"></div>
          <div id="icon"></div>
          <h1 id="temp"></h1>
          <div id="location"></div>
        </div>
      </div>
    </div>

    <!--Weather API - Java Script-->
    <script lang="text/javascript">
      function weatherBalloon( cityID ) {
       var key = '34b67f797d779862525d5ae81a1dd637';
        fetch('https://api.openweathermap.org/data/2.5/weather?id=' + cityID+ '&appid=' + key)  
        .then(function(resp) { return resp.json() }) // Convert data to json
        .then(function(data) {
          drawWeather(data); // Call drawWeather
    })
  .catch(function() {
    // catch any errors
  });
}

function drawWeather( d ) {
	var celcius = Math.round(parseFloat(d.main.temp)-273.15);
	var fahrenheit = Math.round(((parseFloat(d.main.temp)-273.15)*1.8)+32);

  document.getElementById('icon').src="../assets/weatherIcons";
	document.getElementById('description').innerHTML = d.weather[0].description;
	document.getElementById('temp').innerHTML = celcius + '&deg;';
	document.getElementById('location').innerHTML = d.name;

  
	if( description.indexOf('rain') > 0 ) {
  	document.body.className = 'rainy';
  } else if( description.indexOf('cloud') > 0 ) {
  	document.body.className = 'cloudy';
  } else if( description.indexOf('sunny') > 0 ) {
  	document.body.className = 'sunny';
  }
}

window.onload = function() {
  weatherBalloon( 6167865 );
}
    </script>

    <!--Experiences -->
    <div id="experience" class="experience">
      <h1>Experience</h1>
      <a id="resume-pdf" href=".\static\img\software-engineer-resume-example.pdf" download="newfilename">Resume.pdf</a>
      <div class="exp-cards">
        {% for exp in experiences %}
        <div class="exp-card">
          <h2>{{ exp.name }}</h2>
          <ul>
            {% for pt in exp.descrip %}
            <li>{{ pt }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--Project Section-->
    <div id="projs" class="projs">
      <h1>Projects</h1>
      <div class="proj-cards">
        {% for proj in projects %}
        <div class="proj-card">
          <div class="proj-left">
            <h2>{{ proj.name }}</h2>
            <p class="proj-descrip">{{ proj.descrip }}</p>
          </div>
          <div class="proj-right">
            <img
              src="{{proj.img}}"
              width="250"
              height="250"
            />
            <div class="proj-buttons">
              <a href="{{ proj.git }}"><button>GitHub</button></a>
              <a href="{{ proj.demo }}"><button>Demo</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--About Me Section-->
    <div id="about" class="about-section">
      <h1>About Me</h1>
      <p>My Interests: Blockchain, Machine Learning, DevOps</p>
      <p>
        My <a href="{{ url_for('hobbies') }}">Hobbies</a>: Swimming, Text Cdfdhange 1,
        Traveling
      </p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for pol in polaroids %}
        <div class="polaroid">
          <a
            class="caption"
            href="#"
            style="font-size: 1px"
            title="{{ pol.caption }}"
          >
            <img
              height="250"
              src="{{ pol.pic }}"
              alt="Santorini"
              title="Santorini"
            />
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="map">
        <img src="../static/img/Screenshot 2022-06-04 163820.png" />
        <p>Where I've Been</p>
        
      </div>
    </div>

    <!--Contact-->
    <div id="contact" class="contact">
      <h1>Contact</h1>
      <form class="contact-form">
        <input type="text" id="name" placeholder="Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <textarea
          id="message"
          placeholder="Message"
          required
          rows="5"
        ></textarea>
        <button type="submit" className="contact-submit">submit</button>
      </form>
    </div>

  <!-- Form that accepts input to create timeline -->
  <h1><a href="{{ url_for('timeline') }}"> My Timeline</a></h1>
    

</html>
