<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/styles/main.css"> 

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Lora:400,400i,700,700i" rel="stylesheet">    
   

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <!--Nav-->
  <nav>
    <ul class="nav-menu">
      <a href=""><li style = "scroll-behavior: smooth;">Home</li></a>
      <a href="#about"><li style = "scroll-behavior: smooth;">About Me</li></a>
      <a href="#projs"><li>Projects</li></a>
      <a href="#experience"><li>Experience</li></a>
      <!-- Contact commented out for now 
      <a href="#contact"><li>Contact</li></a>
      -->
      <a href="{{ url_for('timeline') }}"><li>Timeline</li></a>
    </ul>
  </nav>

  <body class="max-width">
    <!--Home Section-->
    <div class="home">
      <div class="left">
        <h1 style = "font-family: Lora;"><u>Abisha Kugathasan</u></h1>
        <p>
          <span class="tag">Developer</span> | <span class="tag">Student</span> |
          <span class="tag">Space Lover</span>
        </p>
      </div>
      <div class="right">
          <img id="icon" alt = "image of current weather conditions" style="width: 1000px;"/><br>
          <div class ="weather"> 
            <span id="description"></span> <span id="temp"></span>
        </div>
      </div>
    </div>

    <!--Weather API - Java Script-->
    <script lang="text/javascript">
      function weatherBalloon( cityID ) {
       var key = '34b67f797d779862525d5ae81a1dd637';
        fetch('https://api.openweathermap.org/data/2.5/weather?id=' + cityID+ '&appid=' + key)  
        .then(function(resp) { return resp.json() }) // Convert data to json
        .then(function(data) {
          drawWeather(data); // Call drawWeather
    })
  .catch(function() {
    // catch any errors
  });
}

function drawWeather( d ) {
	var celcius = Math.round(parseFloat(d.main.temp)-273.15);
	var fahrenheit = Math.round(((parseFloat(d.main.temp)-273.15)*1.8)+32);

  var img = document.getElementById('icon'); 
  img.src = `../../assets/weatherIcons/${d.weather[0].icon +".jpg" || "../../assets/weatherIcons/01n.jpg"}`;
  console.log(img);
  console.log(d.weather[0]);
	document.getElementById('description').innerHTML = d.weather[0].description;
	document.getElementById('temp').innerHTML = celcius + '&deg;';
	document.getElementById('location').innerHTML = d.name;

  
	if( description.indexOf('rain') > 0 ) {
  	document.body.className = 'rainy';
  } else if( description.indexOf('cloud') > 0 ) {
  	document.body.className = 'cloudy';
  } else if( description.indexOf('sunny') > 0 ) {
  	document.body.className = 'sunny';
  }
}

window.onload = function() {
  weatherBalloon( 6066513 );
}
    </script>

      <!--About Me Section-->
    <div id="about" class="about-section">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;"><u>A Little More about Me.</u></h1>
      <!--
      <h2 id="title"></h2>
      <p id="date"></p><-->
        <main class="container"> 
          
        
        
        <section class="picture-explanation-container">
          <img src="" id="picture" alt="astronomy image by NASA" />
          <p id="explanation" style = "text-align: justify;">Hi, my name is Abisha Kuagathasan. I am a Canadian🍁University Student who is studying Computer Engineering at the University of Toronto.
            The reason why I chose Engineering in the beginning is because it gives me the opportunity to create <i>something</i> that may not be in the world yet. My passion stemmed from my 1st computer class my mom took me to 
            when I was young and what drove me was my curiosity of how everything worked. I have been designing programs since I was young which led me to the path of loving programming.  <br><br>

            Outside of work, I design robots in the Robotics Association Club, a photographer for my University and take part in Tokie Okie, which is our school's paper. In addition, I am in WISE (Women in Science and Engineering) to encourage young women to take part in this field. Lastly, I have an interest in 
            Astronomy so, instead of a picture of myself I decided to put a picture of NASA's POTD - which today's is the <span id = "title"></span>. 🔭 <br><br> 
      
            If you're interested in connecting or chatting. Connect with me through: 
             <br><br>📧 <u style = "color: white; text-align:end;"><a href =mailto:abku1.8219@gmail.com>Email</a></u>
            <br>💼 <u style = "color: white; text-align:end;"><a href = "https://www.linkedin.com/in/abisha-kugathasan/">LinkedIn</a></u>
            <br>👩‍💻 <u style = "color: white; text-align:end;"><a href = "https://github.com/AbishaKugathasan" >GitHub</a></u> 
        </section>
      </main>

    </div>

    <!-- Using NASA's API-->
    <script>
      function fetchNASAData()  {
       var key = 'c4B0UymmwcMAn2GxmuSIOW1bhHm3H89N8Xjp6IKi';
        fetch('https://api.nasa.gov/planetary/apod?api_key=' + key)  
        .then(function(resp) { return resp.json() }) // Convert data to json
        .then(function(data) {
          displayData(data); // Call drawWeather
    })
  .catch(function() {
    // catch any errors
  });
}


function displayData (data) {
  document.getElementById('title').textContent = data.title
  //document.getElementById('date').textContent = data.date
  document.getElementById('picture').src = data.hdurl
  //document.getElementById('explanation').textContent = data.explanation
}

fetchNASAData()

    </script> 

        <!--Project 
        <div id="projs" class="projs">
          <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>Things I've Built.</u></h1>
          <div class="proj-cards">
            {% for proj in projects %}
            <div class="proj-card">
              <div class="proj-left">
                <h2 style="text-align:left">{{ proj.name }}</h2>
                <p class="proj-descrip">{{ proj.descrip }}</p>
              </div>
              <div class="proj-right">
                <div class="proj-buttons">
                  <a href="{{ proj.git }}"><button>GitHub</button></a>
                  <a href="{{ proj.demo }}"><button>Demo</button></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    Section-->

    
        <div id="experience" class="experience">
          <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>Things I've Built.</u></h1>
          <span class="proj-cards">
            {% for proj in projects %}
            <span class="exp-card">
              <h3 style = "font-family: Lora; text-align: left;">{{ proj.name }}</h3>
              <p class="proj-descrip">{{ proj.descrip }}</p>
            </span>
            {% endfor %}
          </span>
        </div>

    <!--Experiences -->
    <div id="experience" class="experience">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center;"><u>My Adventures.</u></h1>
      <p style = "text-align: center; font-family: Lora;"><i><a id = "resume-pdf" href = ".\static\img\software-engineer-resume-example.pdf" download = "newfilename">Click here to download my resume</a></i></p> 
      <span class="exp-cards">
        {% for exp in experiences %}
        <span class="exp-card">
          <h3 style = "font-family: Lora; text-align: center;">{{ exp.name }}</h3>
          <p style = "color: #6b6e70;">
            {% for pt in exp.descrip %}
            <p style = "text-align: center;">{{ pt }}</p> 
            {% endfor %}
          </p>
        </span>
        {% endfor %}
      </span>
    </div>

    <!--Hobbies Section-->
    <div id="abouts" class="about-section">
      <h1 style = "font-family: Arbutus Slab; font-size: 50px;   text-align: center; color: white"><u><a href="{{ url_for('hobbies') }}">My Hobbies.</a></u></h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for pol in polaroids %}
        <div class="polaroid">
          <a
            class="caption"
            href="#"
            style="font-size: 1px"
            title="{{ pol.caption }}"
          >
            <img
              height="250"
              src="{{ pol.pic }}"
              alt="Santorini"
              title="Santorini"
            />
          </a>
        </div>
        {% endfor %}
      </div>

      <!-- Map section 
      <div class="map">
        <img src="../static/img/Screenshot 2022-06-04 163820.png" />
        <p>Where I've Been</p>
        -->
        
      </div>
    </div>

    <!--Contact
    <div id="contact" class="contact">
      <h1>Contact</h1>
      <form class="contact-form">
        <input type="text" id="name" placeholder="Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <textarea
          id="message"
          placeholder="Message"
          required
          rows="5"
        ></textarea>
        <button type="submit" className="contact-submit">submit</button>
      </form>
    </div>
    -->
  <!-- Form that accepts input to create timeline 
  <h1><a href="{{ url_for('timeline') }}"> My Timeline</a></h1>
    -->

</html>
