<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<nav>
    <ul class="nav-menu">
      <a href="{{ url_for('index') }}"><li>Home</li></a>
      <a href=""><li>Experience</li></a>
      <a href="{{ url_for('index') }}"><li>Projects</li></a>
      <a href="{{ url_for('index') }}"><li>About Me</li></a>
      <a href="{{ url_for('index') }}"><li>Contact</li></a>
    </ul>
  </nav>

  <h1>Form: </h1>
  <body class = "max-width"> 
    <div class = "form-posts">
    <form id = "form" method = "post" action = "/api/timeline_post">
          <label for="name">Name:</label>
          <input type="text" id="name" onclick = "myFunction()" name="name" placeholder="Name"><br><br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email"><br><br>
          <label for="content">Context:</label>
          <input type="text" id="content" name="content"><br><br>
             </div>
        <button type="button" id = "user-name" onclick = "addItem()" value="Submit">Submit</button>
    </form>


    <div class = "text-box">
    <input type="text" id="type" 
      placeholder="Like: div, h1, li...." 
      value="p" />
        </div>

<!-- Parent tag where we add 
        item as child -->
        <div class = "name-form-1">
        <p id="parent"></p>
          </div>

    <div class = "name-form-1">
    Name: <td><i id = "user-name-paragraph"></i></td>

   <br>Content: <td><i id = "context-paragraph"></i></td></div>

   {% for timeline_post in timeline_posts %} 
   {{timeline_post.content}}
   {% endfor %}


    <script> 
      const form = document.getElementById('form'); 
      function myFunction(){
        let text = document.getElementById("name").value
        document.getElementById("user-name-paragraph").innerHTML = text;


        let value = document.getElementById("value").value;
        text = document.createElement(text);
        text.appendChild(document.createTextNode(value));
        document.getElementById("parent").appendChild(type);



        let context_text = document.getElementById("content").value
        document.getElementById("context-paragraph").innerHTML = context_text;

        
      }

      function addItem() {
  
  // Get type of element from form
  let type = document.
      getElementById("type").value;

  // Get the text/value for the tag
  // from the form
  let name = document.
      getElementById("name").value;

  let content = document.
      getElementById("content").value;

  // createElement() is used for
  // creating a new element
  type
      = document.createElement(type);

  // Use value as textnode in this example
  type.appendChild(
      document.createTextNode("Name: " + name + " | Content: " + content));

  // Append as child to the parent
  // tag i.e. ol
  document.getElementById(
      "parent").appendChild(type);
}
     
      const handlerFunction =  (e)=> {
              e.preventDefault()
              myFunction()
          }

      form.addEventListener('submit',(e)=> handlerFunction(e))


    </script>

<!-- Added test -->
</body>
</html>