<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Lora:400,400i,700,700i"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<nav>
    <ul class="nav-menu">
      <a href="../templates/index.html"><li style = "scroll-behavior: smooth;">Home</li></a>
      <a href="https://akugathasan.duckdns.org/#about"><li style = "scroll-behavior: smooth;">About Me</li></a>
      <a href="../templates/index.html#projs"><li>Projects</li></a>
      <a href="/templates/index.html#experience"><li>Experience</li></a>
      <a href="../templates/index.html#images-id"><li>Languages</li></a>
      <a href="../templates/index.html#cont"><li>Contact</li></a>
    </ul>
  </nav>

  <body class = "max-width"> 
    <h1>My Timeline: </h1>
    <div class = paperplane>
    <img src="../static/img/blue_paper_airplane.png" width="490" alt="Rabbit with lop ears in barn" width="203px">
    </div>

    <p class = "timeline font" style = "font-size:20px; color: white;">Enter the fields to create a post &#9993;</p>

    <div class = "form-format">
    <form id = "form" method = "POST" action = "/api/timeline_post">
          <label for="name" style = "color: white;">Name:</label>
          <input type="text" id="name" name="name" placeholder="Name"><br><br>
          <label for="email" style = "color: white;">Email:</label>
          <input type="text" id="email" name="email" placeholder="Email"><br><br>
          <label for="content" style ="color:white">Detail:</label>
          <input type = "text" id = "content" name = "content" placeholder="Content" ><br>
       <button type="submit" class = "submit-button" id = "submit" onclick = "myFunction()" value="submit"> Submit</button><br><br>
    </form>
    </div>

    <div class = "name-form-1" style="color: #222629;">
      Name: <td><i id = "user-name-paragraph"></i></td>
  
     <br>Content: <td><i id = "context-paragraph"></i></td></div>

    <h1 class = "timeline-font" style = "text-align:center; font-size:40px"><u>Past Present and Future</u></h1> 
    <script> 
      const form = document.getElementById('form'); 
      function myFunction(){     

        let text = document.getElementById("name").value;
        document.getElementById("user-name-paragraph").innerHTML = text;



        let context_text = document.getElementById("content").value;
        document.getElementById("context-paragraph").innerHTML = context_text;


form.addEventListener('submit', function(e) {
              e.preventDefault();
           //   myFunction();
              const payload = new FormData(form);
              fetch('/api/timeline_post', {
              method: 'POST',
              body: payload,
    })
      .then(function(response) { 
        return response.text(); 
      })
    .then(function(text) { 
      console.log(text); 
      window.location.reload(); 
    })

    .catch(function(error) { 
      console.error(error); 
    });
});
      }
      

    </script>

    

<div class = name-form-1>
{% for TimelinePost in TimelinePost %}
<p class = "display-post" style = "text-align:center;"> 
    Date: {{TimelinePost.created_at}}<br>
    Name: {{TimelinePost.name}}<br>
    Content: {{TimelinePost.content}} <p>
{% endfor %}
    </div>

</body>
</html>