<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<nav>
    <ul class="nav-menu">
      <a href="{{ url_for('index') }}"><li>Home</li></a>
      <a href=""><li>Experience</li></a>
      <a href="{{ url_for('index') }}"><li>Projects</li></a>
      <a href="{{ url_for('index') }}"><li>About Me</li></a>
      <a href="{{ url_for('index') }}"><li>Contact</li></a>
    </ul>
  </nav>

  <h1>Form: </h1>
  <body class = "max-width"> 
    <div class = "form-posts">
    <form id = "form" method = "post" action = "/api/timeline_post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Name"><br><br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" placeholder="Email"><br><br>
          <label for="content">Context:</label>
          <input type="text" id="content" name="content" placeholder="Content"><br><br>
             </div>
        <button type="button" id = "user-name" onclick = "myFunction()" value="Submit">Submit</button>
    </form>


    <div class = "text-box">
    <input type="text" id="type" 
      placeholder="Like: div, h1, li...." 
      value="p" />
        </div>


    <div class = "name-form-1">
    Name: <td><i id = "user-name-paragraph"></i></td>

   <br>Content: <td><i id = "context-paragraph"></i></td></div>

    <script> 
      const form = document.getElementById('form'); 
      function myFunction(){
        let text = document.getElementById("name").value;
        document.getElementById("user-name-paragraph").innerHTML = text;



        let context_text = document.getElementById("content").value;
        document.getElementById("context-paragraph").innerHTML = context_text;
        curl 
      }

form.addEventListener('submit', function(e) {
              e.preventDefault();
              myFunction();
              const payload = new FormData(form);
              fetch('/api/timeline_post', {
              method: 'POST',
              body: payload,
    })
      .then(res => res.json())
      form.addEventListener('submit',(e)=> handlerFunction(e))
  })

    </script>

<div class = name-form-1>
{% for TimelinePost in TimelinePost %}
<p> {{TimelinePost.name}}
    {{TimelinePost.content}} <p>
    </div>
{% endfor %}


</body>
</html>